@use '../utils' as *;

.hero {
	background-color: $clr-bg-light-100;
	text-align: center;
	padding: 3rem 1rem;

	&__title {
		margin: 0 auto;
		max-width: 90%;
		font-size: 1.6rem;
		font-weight: 900;
		// border: 1px solid blue;
	}

	&__text {
		margin-block: 1rem 2rem;
		font-size: 18px;
		font-weight: 300;
	}

	.btn {
		// margin: 2rem;
	}
}
