@use '../utils' as *;

.hero {
	background-color: $clr-bg-light-100;
	text-align: center;
	padding: 3rem 1rem;

	&__title {
		margin: 0 auto;
		max-width: 90%;
	}

	&__text {
		margin-block: 1rem 2rem;
		font-size: 18px;
		color: $clr-bg-dark;
	}
}
