@use '../utils' as *;

.bg-img {
	width: 100%;
}

.menu-container {
	background-color: $clr-bg-light-100;
}

.menu {
	padding: 1rem 1rem;
	background-color: $clr-bg-light-100;
	border-radius: 2rem 2rem 0 0;
	position: relative;
	top: -40px;

	&__title {
		font-family: $ff-shrik;
		font-size: 1.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		letter-spacing: 1px;

		h1 {
			font-size: 1.7rem;
		}
	}

	.btn {
		margin-top: 3rem;
		padding-inline: 3rem;
	}
}

.food {
	margin-bottom: 2.5rem;

	h2 {
		font-weight: 400;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-block: 1.5rem;

		&::after {
			content: '';
			height: 3px;
			width: 50px;
			background-color: $clr-accent;
			color: blue;
			display: block;
			position: relative;
			top: 3px;
		}
	}
}

.item {
	background-color: $clr-neutral-100;
	display: flex;
	margin-bottom: 1.2rem;
	border-radius: 0.7rem;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

	&__text {
		width: 100%;
		padding: 0.9rem 0.8rem;
	}

	&__title {
		margin-bottom: 0.5rem;
		font-size: 1.1rem;
	}

	&__group {
		display: flex;
		justify-content: space-between;
		font-size: 0.9rem;

		.subtitle {
			max-width: 85%;
			text-overflow: ellipsis;
			overflow: hidden;
			height: 18.4px;
			white-space: nowrap;
		}

		.price {
			font-weight: 700;
			margin-right: 0.5rem;
		}
	}

	&__check {
		background-color: $clr-accent;
		width: 0px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: width 0.5s;

		.fa-check {
			background-color: $clr-neutral-100;
			color: $clr-accent;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: rotate(180deg);
			transition: transform 0.5s;
		}
	}

	&:hover .item__check {
		width: 80px;
	}

	&:hover .fa-check {
		transform: rotate(360deg);
	}
}
