@use '../utils' as *;

.restaurant {
	padding: 2rem 1.5rem 4rem;
	background-color: $clr-bg-light-100;

	&__title {
		margin-bottom: 2rem;
	}
}

.card-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.card {
	width: 100%;
	// height: 250px;
	border-radius: 1.2rem;
	overflow: hidden;
	@include shadow(0, 4px, 10px);

	&__img {
		// height: 70%;
		height: 0;
		padding-top: 50%;
		position: relative;

		img {
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.7rem 1rem;
		font-size: 17px;

		&-text h3 {
			margin-bottom: 0.2rem;
		}

		&-icon {
			width: 1.5rem;
			height: 1.5rem;
			background: linear-gradient(red, blue);
		}
	}
}
