@use '../utils' as *;

.restaurant {
	padding: 3rem 1.5rem 4rem;
	background-color: $clr-bg-light-100;

	&__title {
		margin: 0 0 1.5rem;
	}
}

.card-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	position: relative;
}
