@use '../utils' as *;

.menu-container {
	background-color: $clr-bg-light-100;
}

.menu {
	padding: 1rem 1rem;
	background-color: $clr-bg-light-100;
	border-radius: 2rem 2rem 0 0;
	position: relative;
	top: -40px;

	&__title {
		font-family: $ff-shrik;
		font-size: 1.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		letter-spacing: 1px;

		h1 {
			font-size: 1.7rem;
		}

		span {
			margin-right: 0.5rem;
		}
	}

	.btn {
		margin-top: 3rem;
		padding-inline: 3rem;
	}
}

.food {
	margin-bottom: 2.5rem;
	max-width: 400px;
	margin: 0 auto;

	h2 {
		font-weight: 400;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-block: 1.5rem;

		&::after {
			content: '';
			height: 3px;
			width: 50px;
			background-color: $clr-accent;
			color: blue;
			display: block;
			position: relative;
			top: 3px;
		}
	}
}
