@use '../utils' as *;

.restaurant {
	padding: 2rem 1.5rem 4rem;
	background-color: $clr-bg-light-100;

	&__title {
		margin-bottom: 2rem;
	}
}

.card-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: $size-20;
}

.card {
	width: 100%;
	height: 250px;
	border-radius: 1.2rem;
	overflow: hidden;
	@include shadow(0, 4px, 10px);

	&__img {
		height: 70%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1rem;
		font-size: 18px;

		&-text h3 {
			margin-bottom: 0.2rem;
		}

		&-icon {
			transform: scale(1.5);
			margin-right: 1rem;
		}
	}
}
