.menu {
	animation: menuShow 1s;

	.item {
		opacity: 0;
		transform: translateY(-50px);
		animation: itemShow 0.5s 1s forwards cubic-bezier(0.3, 1.4, 0.43, 0.99);
	}
}

@keyframes menuShow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes itemShow {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@for $i from 1 through 9 {
	.item:nth-child(#{$i}) {
		animation-delay: #{$i * 0.2s};
	}
}
