.content {
	opacity: 0;
	animation: content 1s 2s forwards;
	max-height: 0;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: loader 3s forwards;
}

@keyframes content {
	100% {
		opacity: 1;
		max-height: 100%;
	}
}

@keyframes loader {
	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

circle {
	animation: scale 1.2s linear infinite;
}

@keyframes scale {
	0%,
	20%,
	80%,
	100% {
		r: 10;
	}

	50% {
		r: 15;
	}
}

@for $i from 0 through 11 {
	circle:nth-child(#{$i + 1}) {
		animation-delay: $i * -0.1s;
	}
}
