@use '../utils' as *;

body {
	font-family: $ff-roboto;
	position: relative;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
	display: block;
}
