*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 1.6rem;
	font-weight: 900;
}

ul {
	list-style-type: none;
}
