// colors
$clr-neutral-100: #fff;
$clr-neutral-900: #000;

$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-accent: #99e2d0;

$clr-bg-light: #f6f6f6;
$clr-bg-dark: #353535;

// font-family
$ff-rob: 'Roboto', sans-serif;
$ff-shrik: 'Shrikhand', cursive;

//font-weights
$fw-400: 400;
$fw-700: 700;

// size/spacing values
$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-20: 1.25rem;
$size-32: 2rem;
$size-36: 2.25rem;
